<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='/js/my_script.js') }}"></script>
</head>
<body>
    <div class="container">
        <div class="nav-top-r">
            <a href="/logout">Sign Out</a>
            <span> | </span>
            <a href="/">Return to Homepage</a>
        </div>
        <div class="nav-bar">
            <div class="nav-bar-title">
                <img style="height:120px;" src="{{ url_for('static', filename='/imgs/theMellowBath.png')}}">
            </div>
            <div class = "nav-bar-link" >
                <!-- <a href="/company">About Our Company</a> -->
            </div>
        </div>
        <div class="checkout-cart">
            <div class="checkout-left">
                <form action="/checkout/{{session.user_id}}/save_order_details" method ="POST">
                    <div class="error_message">
                        {% with messages = get_flashed_messages() %}     
                            {% if messages %}    
                                <div class="alert" role ="alert">
                                    <strong>Invalid Entry!!!</strong>                      
                                    {% for message in messages %}           
                                        <p>{{message}}</p>
                                    {% endfor %}
                                </div>  
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="first_name">First Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="first_name" value="{{user.first_name}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="last_name">Last Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="last_name" value="{{user.last_name}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="address">Address:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="address" placeholder="Ex. 123 Chicago St.">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="email">Email:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="email" value="{{user.email}}">
                        </div>
                    </div>
                    <div class="form-group checkout">
                        <button type="submit" class="btn btn-primary">Proceed to Payment</button>
                    </div>
            </div>
            <div class="checkout-right">
                <div class="cO-cost">
                    <h1><u>Order Summary</u></h1>
                    <div class="cost">
                        <div class="top">
                            <h3>Subtotal: {{sub_total | currencyFormat}}</h3>
                        </div>
                        <div class="mid">
                            <h3>Shipping: {{shipping_cost | currencyFormat}}</h3>
                        </div>
                        <div class="bottom">
                            <h3>Tax: {{tax_amount | currencyFormat}}</h3>
                        </div>
                    </div>
                    <div class="total">
                        <h2>Order Total: {{grand_total | currencyFormat}}</h2>
                    </div>
                    <h3>Order Items</h3>
                </div>
                <div class="cO-items">
                    {% for product_id in cart %}
                    <div class="cO-flex">
                        <div class="cO-photo">
                            <img src="{{ url_for('static', filename='/imgs/' + cart[product_id].product_img) }}">
                        </div>
                        <div class="cO-product_info">
                            <a href="/user/single_product/{{cart[product_id].product_id}}"><h6 className="product_name">{{cart[product_id].product_name}}</h6></a>
                            <p class="product_description">{{cart[product_id].product_description | truncate(250) }}</p>
                        </div>
                        <div class="cO-product_qty">
                            <p class="price_per_unit">Price: {{((cart[product_id].quantity | int) * cart[product_id].price_per_unit) | currencyFormat}}</p>
                            <label name="product_qty" for="quantity">Qty: {{cart[product_id].quantity}}</label>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>