<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='/js/my_script.js') }}"></script>
    <title>The Mellow Bathtub</title>
</head>

<body>
    <div class="container">
        <div class="nav-top-r">
            {% if session.user_id %}
            <a href="/logout">Logout</a>
            <span> | </span>
            <a href="/seller_dashboard">Seller Dashboard</a>
            {% else %}
            <a href="/login_and_register">Sign in | Register</a>
            {% endif %}
            <a href="/cart"><img src="{{ url_for('static', filename='/imgs/shopping_cart_icon.jpeg') }}"></a>
        </div>
        <div class="nav-bar">
            <div class="nav-bar-title">
                <img style="height:200px;" src="{{ url_for('static', filename='/imgs/theMellowBath.png')}}">
                {%with messages = get_flashed_messages()%}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="error-message">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class = "nav-bar-link" >
                <a href="/company">About Our Company</a>
            </div>
        </div>
        <div class="h-body">
            {% for i in all_products %}
                <div class="card" style="height: 23rem; width: 16rem ;border: none;">
                    <img src="{{ url_for('static', filename='/imgs/' + i.product_img) }}" class="card-img-top" style="width: 200px; align-self: center;">
                    
                    <div class="card-body">
                        <h5 class="card-title"><a href="/user/single_product/{{i.product_id}}">{{i.product_name}}</a></h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{i.price_per_unit | currencyFormat}}</h6>
                        <button class="btn btn-primary product-btn" 
                        data-id={{i.product_id}}
                        data-product-name="{{i.product_name}}"
                        data-product-description = "{{i.product_description}}"
                        data-price-per-unit={{i.price_per_unit}}
                        data-product-img="{{ i.product_img }}">Add To Cart</button>
                    </div>
                </div>
            {%endfor%}
        </div>
    </div>

    <script>
    (function(){
        var productBtns = document.querySelectorAll(".product-btn");

        productBtns.forEach(function(productBtn) {
            productBtn.addEventListener("click", function(){
                var productId = productBtn.getAttribute("data-id");
                var productName = productBtn.getAttribute("data-product-name");
                var productDescription = productBtn.getAttribute("data-product-description");
                var pricePerUnit = parseFloat(productBtn.getAttribute("data-price-per-unit"));
                var productImg = productBtn.getAttribute("data-product-img");
                // var data = new FormData();
                // data["productId"] = productId
                var data = {
                    product_id: productId,
                    product_name: productName,
                    product_description: productDescription,
                    price_per_unit: pricePerUnit,
                    product_img: productImg
                };

                fetch('/cart/add', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                })
                .then((response) => response.json())
                .then((data) => {
                    if (data.error) {
                        window.location.replace('/login_and_register');
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
                // var cart = sessionStorage.getItem('cart');
                // var cartLength = parseInt(sessionStorage.getItem('cart_length') ?? 0);
                // if (cart) {
                //     cart = JSON.parse(cart);
                // } else {
                //     cart = {};
                // }
                
                // var productId = productBtn.getAttribute("data-id");
                // console.log(productId)

                // if (productId in cart) {
                //     cart[productId] += 1;
                // } else {
                //     cart[productId] = 1;
                // }
                // sessionStorage.setItem('cart_length', cartLength + 1);
                // sessionStorage.setItem('cart', JSON.stringify(cart));
            });
        });
    })();
    </script>

</body>

</html>