<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='/js/my_script.js') }}"></script>
    <title>The Mellow Bathtub</title>
</head>

<body>
    <body>
        <div class="container">
            <div class="nav-top-r">
                {% if session.user_id %}
                <a href="/logout">Logout</a>
                <span> | </span>
                <a href="/seller_dashboard">Return to Dashboard </a>
                {% else %}
                <a href="/">Return to Homepage </a>
                <span> | </span>
                <a href="/login_and_register">Sign in | Register</a>
                {% endif %}
                <a href="/cart"><svg xmlns="http://www.w3.org/2000/svg" color="black" width="30px" height="30px" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg></a>
            </div>
            <div class="nav-bar">
                <div class="nav-bar-title">
                    <h1>The Mellow Bathtub</h1>
                </div>
            </div>
        <div>
            <br>
            <!-- <h3 class="comp-title"><u>Project Idea: The Mellow Bathtub</u></h3> -->
            <div class="comp-body">
                <p><strong>Languages: </strong> Python, Flask, HTML, CSS, Javascript, Bootstrap</p>
                <p><strong>Description: </strong> This project's purpose is to create an online store. It will display products users (registered or not) can buy. 
                    Sellers (registered users as a seller) can add/edit/delete products in the online store. Only sellers of the added product can edit or 
                    delete their product from the store. Users can preview items in their shopping cart and their estimated total before deciding to 
                    purchase their items. Here they can adjust the quantity of each item or delete items from their cart. Then they will be redirected to 
                    a payment page and then redirected to home page once the payment has been submitted. </p>
            </div>
        </div>
    </div>
</body>
</html>