*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

/* ALL PAGES */

.container{
    /* border: 2px dotted red; */
    height: 100%;
    margin: 0% auto 0% auto;
    /* background-color: rgb(255, 254, 254,.10); */
    padding: 2%;
    background-color: rgb(255, 254, 254,.80);
}

.nav-top-r{
    text-align: right;
    background-color:transparent;
}

.nav-bar{
    /* border: 2px dotted purple; */
    width: 100%;
    margin: 0;
    align-items: center;
    text-align: center;
}

.nav-bar-title{
    /* border-bottom: 2pt solid rgb(255, 255, 255); */
    background-color:transparent;
    padding: 0% 0% 2% 0%;
    text-decoration: underline;
}

.nav-bar-link{
    padding-top: 1%;
}

/* HOMEPAGE */

.error-message {
    color: red;
}

.h-body{
    /* background-image: linear-gradient(to right,lightblue,white); */
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* justify-content: space-around; */
}

.card{
    max-width: 22%;
    text-align: center;
    align-content: center;
    margin: 1.5%;
    padding: 1% 0%;
    background-color: rgb(255, 254, 254,.0);
}

/* .h-product-card{
    max-height: 12%;
    max-width: 20%;
    text-align: center;
    align-content: center;
    background-color: white;
    border: 2px solid rgb(27, 26, 26);
    margin: 2%;
    padding: 2%;
}
.h-product-card img {
    width: 100%;
} */

/* SELLER DASHBOARD */

.seller-title{
    padding: 2%;
    text-align: center;
}

/* ADD PRODUCT FORM */
.add-prod-title{
    text-align: center;
    padding: 2% 0% 0% 0%;
    /* padding-bottom: 10px; */
}

.add-form{
    padding-left: 8%;
    /* border: 2pt dotted red; */
}

.add-prod-body{
    /* border: 2pt dotted red; */
    padding: 4%;
}

.add-prod-button{
    text-align: center;
    padding-right: 8%;
}

/* EDIT PRODUCT FORM */

.edit-prod-title{
    text-align: center;
    padding: 2% 0% 0% 0%;
    /* padding-bottom: 10px; */
}

.edit-form{
    padding-left: 8%;
    /* border: 2pt dotted red; */
}

.edit-prod-body{
    /* border: 2pt dotted red; */
    padding: 4%;
}

.edit-prod-button{
    text-align: center;
    padding-right: 8%;
}

/* SINGLE VIEW/PRODUCT */

.sv-body{
    padding-top: 4.5%;
}
.sv-product-card{
    /* border: 2pt dotted red; */
    width: 50%;
    margin: auto;
    padding: 0% 2% 2% 2%;
    border-radius: 10%;
    /* background-color: aliceblue; */
}

.sv-product-card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    padding: 0% 5% 5% 5%;
}

.sv-title{
    text-align: center;
}

.sv-price{
    text-align: center;
}

/* SHOPPING CART */

.sC-body{
    /* border: 2px dotted red; */
    text-align: center;
    padding: 2%;
    /* background-color: rgb(255, 254, 254,.85); */
}

.shoppingcart{
    display: flex;
    /* justify-content: space-between; */
    /* margin: auto; */
    width: auto;
}

.sC-items{
    /* border: 2px dotted red; */
    border-right: 2pt solid rgba(135, 217, 250);
    width: 100%;
    margin: 2% 0 2% 2%;
}

input[type='number']{
    width: 40px;
} 

.flex{
    /* border: 2px dotted red; */
    margin: 2% 0 2% 2%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    /* transition: 1s; */
}

/* .flex:hover{
    background-color: rgb(255, 254, 254,.90);
} */

.flex img{
    height: 220px;
    width: 200px;
}

.product_qty{
    /* border: 2px dotted red; */
    width: 60%;
    padding: 2%;
    text-align: end;
}

.sC-photo {
    margin: auto 0 auto 2% ;
}

.sC-product_info{
    padding: 2%;
}

.sC-product_info p{
    text-align: start;
}

.sC-btn{
    width:  70px;
    margin: 5% 0 5% 5%;
}

.sC-cost{
    /* border: 2px dotted red; */
    width: 40%;
    padding-top: auto;
    margin: 2% 2% 2% 0;
}

.cost{
    padding: 3%;
    border-bottom: 2pt solid rgba(135, 217, 250);
}

.total{
    padding: 3%;
}

/* CHECKOUT ORDER DETAILS */

.checkout-cart{
    display: flex;
    /* justify-content: space-between;  */
    width: 100%;
    /* background-color: rgb(255, 254, 254,.90); */
    padding:2%;
}
.checkout-left{
    /* border: 2px dotted red; */
    border-right: 2pt solid rgba(135, 217, 250);
    width: 50%;
}

.form-group{
    padding: 2%;
}

.checkout-right{
    /* border: 2px dotted red; */
    /* border-right-style: solid ; */
    width: 50%;
    /* margin: 2% 0 2% 2%; */
}

.cO-items{
    margin: 0% 0% 0% 5%;
    background-color: rgba(135, 217, 250, 0.35);;
    /* border-top: 2px dotted grey; */
}

.cO-flex{
    /* border: 2px dotted red; */
    margin: 0% 0% 0% 0%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    /* border-bottom: 2px dotted grey; */
}

.cO-flex img{
    /* border: 2px dotted red; */
    height: 220px;
    width: 200px;
}

.cO-product_qty{
    /* border: 2px dotted red; */
    width: 60%;
    padding: 2% 2% 0% 0%;
    text-align: end;
}

/* .sC-photo {
    margin: 0 ;
} */

.cO-product_info{
    margin: 0% 2% 0% 2%;
}

.cO-product_info p{
    text-align: start;
} 

.cO-cost{
    /* border: 2px dotted red; */
    text-align: center;
    width: auto;
    padding-top: auto;
    margin: 2% 2% 2% 0;
}

/* OUR COMPANY */

body{
    background-image: url('../imgs/background_imgs/heidi-kaden-gcKomw5peMo-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100vw;
    /* background-image: radial-gradient( lightblue ,white); */
}

.comp-body{
    width: 80%;
    margin: auto;
}

.comp-title{
    text-align: center;
    padding-bottom: 2%;
}